container {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
}

column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
}

row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    row-gap: 2rem;
}

/* Does not react to window resize events */
row_fixed {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    row-gap: 2rem;
}

expand_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

:root {
    --font-body: "Comfortaa", sans-serif;
    --font-mono: "Fira Mono", monospace;
    --color-bg-0: rgb(202, 216, 228);
    --color-bg-1: hsl(209, 36%, 86%);
    --color-bg-2: hsl(224, 44%, 95%);
    --color-theme-1: #001947;
    --color-theme-2: #ff0069;
    --color-text: rgba(0, 0, 0, 0.7);
    --column-width: 42rem;
    --column-margin-top: 4rem;
    font-family: var(--font-body);
    color: var(--color-text);
}

.jumbo_button {
    font-family: var(--font-body);
    background-color: #ff65a5;
    padding: 20px;
    border-radius: 25px;
    font-size: 24px;
}

.jumbo_button:hover {
    background-color: rgb(254, 115, 173);
}

button {
    font-family: var(--font-body);
    /* background-color: var(--color-theme-2); */
    background-color: #71b1f6;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #6aa7e9;
}

textarea {
    font-family: var(--font-body);
}

body,
html {
    width: 100%;
    margin: 0;
    background-color: white;
    /* min-height: 100vh; */
    /* background-attachment: fixed; */
    /* background-color: var(--color-bg-1);
    background-size: 100vw 100vh;
    background-image: radial-gradient(50% 50% at 50% 50%,
            rgba(255, 255, 255, 0.75) 0%,
            rgba(255, 255, 255, 0) 100%),
        linear-gradient(180deg,
            var(--color-bg-0) 0%,
            var(--color-bg-1) 15%,
            var(--color-bg-2) 50%); */
}

.rounded_border {
    border-radius: 15px;
    border-bottom: 5px solid #ddd;
    border-left: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-top: 1px solid #ddd;
}

anchor {
    display: block;
    position: relative;
}

.parent {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;
    transform: translate(-50%, 0);
}

@media only screen and (max-width: 1000px) {
    row {
        flex-direction: column;
    }

    h3 {
        font-size: 32px;
    }

    p {
        font-size: 24px;
    }
}