container {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
}

column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
}

row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    row-gap: 2rem;
}

expand_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

:root {
    --font-body: "Comfortaa", sans-serif;
    --font-mono: "Fira Mono", monospace;
    --color-bg-0: rgb(202, 216, 228);
    --color-bg-1: hsl(209, 36%, 86%);
    --color-bg-2: hsl(224, 44%, 95%);
    --color-theme-1: #001947;
    --color-theme-2: #ff0069;
    --color-text: rgba(0, 0, 0, 0.7);
    --column-width: 42rem;
    --column-margin-top: 4rem;
    font-family: var(--font-body);
    color: var(--color-text);
}

button
{
    font-family: var(--font-body);
    background-color: var(--color-theme-2);
    padding: 20px;
    border-radius: 15px;
    border-radius: 25px;
    border: none;
    font-size: 24px;
    color:white;
    cursor: pointer;
}
    
button:hover{
    background-color: #ff3f8f;
}

textarea {
    font-family: var(--font-body);
}

body {
    min-height: 100vh;
    margin: 0;
    background-attachment: fixed;
    background-color: var(--color-bg-1);
    background-size: 100vw 100vh;
    background-image: radial-gradient(50% 50% at 50% 50%,
            rgba(255, 255, 255, 0.75) 0%,
            rgba(255, 255, 255, 0) 100%),
        linear-gradient(180deg,
            var(--color-bg-0) 0%,
            var(--color-bg-1) 15%,
            var(--color-bg-2) 50%);
}